  <div class="columns">
    <div class="column is-3">
      <aside class="menu">
        <p class="menu-label">Aaaaa</p>
      </aside>
    </div>

    <div class="column is-9">
      <main>
        <%= yield %>
      </main>
    </div>
  </div>

